.BtnCloseViewImagePost {
  float: right;
}

.BtnDeleteImagePost {
  float: left;
}

.ImagePostList {
  width: 260px;
  height: 200px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  display: inline;
}