.RightStudySpace {
  background-color: rgb(251, 253, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  padding-left: 5px;
  border-radius: 10px;
  margin: 20px 20px 25px 10px;
}

.TimeRightStudySpace {
  font-size: 13px;
}

/* .BtnRightStudySpace {
  margin: 10px 40px 20px 0px;
}

.BtnMemberRightStudySpace {
  margin-right: 100px;
}

.BtnTopicRightStudySpace {
  margin-right: 20px;
} */

.CollapaseRightStudySpace {
  margin-top: 10px;
}

.ActionRightStudySpace {
  float: right;
}

.CardItemTopic {
  margin-bottom: 10px;
  height: 150px;
}

.BtnViewDetailCardItem {
  float: right;
  margin-right: 5px;
}

.BtnViewDetailCardItem Link:hover {
  color: white;
}

.BtnDeleteCardItemTopic {
  float: right;
  color: red;
}

/* @media only screen and (min-width: 200px) and (max-width: 350px) {
  .BtnRightStudySpace {
    margin: 0px 0px 10px 10px;
  }

  .BtnMemberRightStudySpace {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 351px) and (max-width: 380px) {
  .BtnRightStudySpace {
    margin: 0px 0px 10px 10px;
  }

  .BtnMemberRightStudySpace {
    margin-right: 55px;
  }
}

@media only screen and (min-width: 381px) and (max-width: 400px) {
  .BtnRightStudySpace {
    margin: 0px 0px 10px 10px;
  }

  .BtnMemberRightStudySpace {
    margin-right: 70px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 420px) {
  .BtnRightStudySpace {
    margin: 0px 0px 10px 10px;
  }

  .BtnMemberRightStudySpace {
    margin-right: 90px;
  }
} */