.PostItem {
  background-color: rgb(251, 253, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  padding: 15px;
  border-radius: 10px;
  margin: 20px 10px 25px 10px;
}

.PostItem h5 {
  color: blue;
}

.ButtonBack {
  width: 80px;
  border-radius: 5px;
  border: none;
  margin-left: 30px;
  background-color: white;
  color: blue;
}

.ButtonNext {
  width: 100px;
  border-radius: 5px;
  border: none;
  float: right;
  margin-right: 30px;
  background-color: white;
  color: blue;
}

.PostItem h5 p {
  color: gray;
  font-size: 12px;
}

.PostItem .TitlePost {
  color: blue;
  font-size: 18px;
}

.leftMenu {
  background-color: rgb(251, 253, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  padding: 15px;
  border-radius: 10px;
  margin: 20px 0px 15px 15px;
}

.PostAvatar {
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.NumberLikeShareComment {
  margin: 10px;
}

.NumberLikeShareComment .NumberCommentShare {
  float: right;
  margin-right: 20px;
  border: none;
}

.NumberLikeShareComment .NumberLike {
  float: left;
  border: none;
  background-color: white;
  color: blue;
}

.NumberLikeShareComment .NumberComment {
  border: none;
  background-color: white;
  margin-right: 20px;
  color: blue;
}

.NumberLikeShareComment .NumberShare {
  border: none;
  background-color: white;
  color: blue;
}

.LikeShareComment {
  margin: 10px 40px 20px 40px;
}

.ButtonLSC {
  margin-right: 50px;
  border: none;
  background-color: white;
  color: gray;
}

.ButtonLSC:hover {
  border: none;
  background-color: white;
  color: gray;
}

.commentsListHomepage {
	margin-top: 30px;
	position: relative;
}

.commentsListHomepage li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.commentsListHomepage .commentAvatar {
	width: 5%;
  display: inline-block;
}

.commentsListHomepage .commentAvatar img {
	width: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.commentMainLevelHomepage:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}

.commentsListHomepage .commentBoxHompage {
	width: 93%;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.commentsListHomepage .commentBoxHompage:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.commentBoxHompage .commentHead {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.commentBoxHompage .commentName {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.commentBoxHompage .commentName a {
	color: #283035;
}

.commentBoxHompage .commentHead span {
	float: left;
	color: #999;
	font-size: 12px;
}

.commentBoxHompage .commentContent {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

@media only screen and (min-width: 200px) and (max-width: 420px) {
  .LikeShareComment {
    margin: 0px 0px 10px 10px;
  }
  .ButtonLSC {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 900px) {
  .LikeShareComment {
    margin: 0px 0px 10px 10px;
  }
  .ButtonLSC {
    margin-right: 0px;
  }
}
