.LeftMenuHomePage {
  padding-bottom: 20px;
}

.ListFriendMajorLeftHomePage {
  color: black;
  background-color: rgb(251, 253, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  padding: 15px;
  margin: 20px 0px 15px 15px;
  padding-bottom: 10px;
}

.TiteListFriendHomePage {
  background-color: #026aa7;
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  padding: 15px;
  margin: 20px 0px 0px 15px;
  text-align: center;
  color: white;
}

.ListFriendMajorLeftHomePage .FriendMajorAvatar {
  width: 35px;
  height: 35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.BtnMessageLeftMenuHome {
  float: right;
  color: green;
  width: 40px;
  margin-right: 10px;
}

.StatusLoginIcon {
  width: 10px;
  height: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 5px;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
