.LeftMenuHomePage {
  padding-bottom: 20px;
}

.InfoUserMenuHomePage {
  color: white;
  background-color: #026aa7;
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  padding: 15px;
  margin: 20px 0px 15px 15px;
  padding-bottom: 15px;
}

.InfoUserMenuHomePage .PersonelAvatarLeftHomePage {
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.LinkLeftHomePage {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.LinkLeftHomePage:hover {
  text-decoration: none;
  color: lightgray;
}

.IconLeftHomePage {
  width: 40px;
  height: 30px;
  margin-right: 10px;
}

.ListFriendMajorLeftHomePage {
  color: black;
  background-color: rgb(251, 253, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  padding: 15px;
  margin: 20px 0px 15px 15px;
  padding-bottom: 10px;
}

.TiteListFriendHomePage {
  background-color: #026aa7;
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  padding: 15px;
  margin: 20px 0px 0px 15px;
  text-align: center;
  color: white;
}

.ListFriendMajorLeftHomePage .FriendMajorAvatar {
  width: 35px;
  height: 35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.BtnMessageLeftMenuHome {
  float: right;
  color: green;
  width: 40px;
  margin-right: 10px;
}