.PostItem {
  background-color: rgb(251, 253, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
  padding: 15px;
  border-radius: 10px;
  margin: 20px 20px 25px 10px;
}

.PostItem h5 a {
  color: #283035;
}

.PrivateModePost {
  color: gray;
  font-size: 12px;
}

.PostItem h5 p {
  color: gray;
  font-size: 12px;
}

.PostItem .TitlePost {
  color: blue;
  font-size: 18px;
}

.PostAvatar {
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.NumberLikeShareComment {
  margin: 10px;
}

.NumberLikeShareComment .NumberCommentShare {
  float: right;
  margin-right: 20px;
  border: none;
}

.NumberLikeShareComment .NumberLike {
  float: left;
  border: none;
  background-color: white;
  color: gray;
}

.NumberLikeShareComment .NumberComment {
  border: none;
  background-color: white;
  margin-right: 20px;
  color: gray;
}

.NumberLikeShareComment .NumberShare {
  border: none;
  background-color: white;
  color: gray;
}

.ContentPostHomePage {
  line-height: 23px;
}

.LikeShareComment {
  margin: 10px 40px 20px 40px;
}

.ButtonLSC {
  margin-right: 50px;
  border: none;
  background-color: white;
  color: gray;
}

.ButtonLSC:hover {
  border: none;
  background-color: white;
  color: gray;
}

.HeartIcon {
  color: red;
}

.HeartEyesIcon {
  color: rgb(235, 34, 168);
}

/* @media only screen and (min-width: 200px) and (max-width: 420px) {
  .LikeShareComment {
    margin: 0px 0px 10px 10px;
  }
  .ButtonLSC {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 900px) {
  .LikeShareComment {
    margin: 0px 0px 10px 10px;
  }
  .ButtonLSC {
    margin-right: 0px;
  }
} */
