.LoginPage {
  box-shadow: 4px 7px 8px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 7px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 7px 8px 0px rgba(0,0,0,0.75);
  border: 1px solid gray;
  border-radius: 10px;
}

.ImageCardLogoLogin {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid lightgray;
}
