.SearchMenuCommonPage Button {
    width: 45px;
    height: 40px;
    margin-right: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.SearchMenuCommonPage .InputSearchMenuBar {
    top: 2px;
    width: 360px;
    height: 35px;
    border-radius: 10px;
}

@media only screen and (min-width: 200px) and (max-width: 575px) {
    .SearchMenuCommonPage .InputSearchMenuBar {
        width: 220px !important;
    }
}