.HeaderModalHomePage button {
    border: none;
    height: 20px;
    background-color: white;
    color: red;
}

.HeaderModalHomePage button::before {
    content: "x";
}

.ModalUserLike img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}