

.ScrollBodyModal {
  max-height: 450px;
  overflow-y: auto;
}

.ContainerMessage {
  background-color: #eee;
}

.BtnCloseModal {
  color: red;
}

.IconAvatarMessage {
  width: 35px;
  height: 35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 5px;
}

.MessageContent {
    background-color: rgb(228, 238, 255);
    border-radius: 13px;
    color: black;
    padding: 10px;
    font-size: 13px;
}

.MessageContentOfMe {
    background-color: rgb(81, 117, 250);
    border-radius: 13px;
    color: white;
    padding: 10px;
    font-size: 13px;
}